
{% extends "auth/_base.html" %}

{% block content %}
<!-- BEGIN: Body-->
<body
    class="vertical-layout vertical-menu-modern 1-column  navbar-sticky footer-static bg-full-screen-image  blank-page blank-page"
    data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- register section starts -->
                <section class="row flexbox-container">
                    <div class="col-xl-8 col-10">
                        <div class="card bg-authentication mb-0">
                            <div class="row m-0">
                                <!-- register section left -->
                                <div class="col-md-6 col-12 px-0">
                                    <div
                                        class="card disable-rounded-right mb-0 p-2 h-100 d-flex justify-content-center">
                                        <div class="card-header pb-1">
                                            <div class="card-title">
                                                <h4 class="text-center mb-2">Sign Up</h4>
                                            </div>
                                        </div>
                                        {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            {{message}}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                        <div class="text-center">
                                            <p> <small> Please enter your details to sign up and be part of our great
                                                    community</small>
                                            </p>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <form action="" method="POST">
                                                    {{ form.hidden_tag() }}
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6 mb-50">
                                                            {{ form.fname.label }}
                                                            {{ form.fname(class="form-control", placeholder="First Name")}}
                                                            {% for error in form.fname.errors %}
                                                            <span style="color: red;">{{error}}</span>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="form-group col-md-6 mb-50">
                                                            {{ form.lname.label }}
                                                            {{ form.lname(class="form-control", placeholder="Last Name")}}
                                                            
                                                            {% for error in form.lname.errors %}
                                                            <span style="color: red;">{{error}}</span>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-50">
                                                        {{ form.username.label }}
                                                        {{ form.username(class="form-control", placeholder="User Name")}}
                                                        
                                                        {% for error in form.username.errors %}
                                                        <span style="color: red;">{{error}}</span>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group mb-50">
                                                        {{ form.email.label }}
                                                        {{ form.email(class="form-control", placeholder="Email Address")}}
                                                        
                                                        {% for error in form.email.errors %}
                                                        <span style="color: red;">{{error}}</span>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group mb-50">
                                                        {{ form.password.label }}
                                                        {{ form.password(class="form-control", placeholder="Password")}}
                                                        
                                                        {% for error in form.password.errors %}
                                                        <span style="color: red;">{{error}}</span>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group mb-2">
                                                        {{ form.password2.label }}
                                                        {{ form.password2(class="form-control", placeholder="Confirm Password")}}
                                                        
                                                        {% for error in form.password2.errors %}
                                                        <span style="color: red;">{{error}}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {{ form.submit(class="btn btn-primary glow position-relative w-100")}}
                                                </form>
                                                <hr>
                                                <div class="text-center"><small class="mr-25">Already have an
                                                        account?</small><a href="{{ url_for('auth.login') }}"><small>Sign in</small>
                                                    </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- image section right -->
                                <div class="col-md-6 d-md-block d-none text-center align-self-center p-3">
                                    <img class="img-fluid" src="../../static/app-assets/images/pages/register.png"
                                        alt="branding logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- register section endss -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
</body>
<!-- END: Body-->
{% endblock %}